<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ACarShow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>AutoShow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SHCarShow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0812191A1AF75F71009412F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>081219C41AF76004009412F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0898F6E01AF86001003E7DA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0898F7AF1AF86084003E7DA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0898F87E1AF860DE003E7DA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08EB24291AAD39560075BCC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08EB24451AAD39560075BCC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08EC22351AF78E9A00AAD724</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08EE81361AE9F611006B46C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
